{% extends "base.html" %}

{% block title %}Contact Me{% endblock %}

{% block content %}
    <h1>Contact Me</h1>

    <p>
        <i class="bi bi-envelope-fill"></i>
        <a href="mailto:ryenybn@gmail.com">ryenybn@gmail.com</a>
    </p>

    <p>
        <i class="bi bi-github"></i>
        <a href="https://github.com/rae1102" target="_blank">rae1102</a>
    </p>

    <p>
        <i class="bi bi-facebook"></i>
        <a href="https://www.facebook.com/reyn.navaro" target="_blank">Reyn Navaro</a>
    </p>
{% endblock %}