{% extends "base.html" %}

{% block title %}Area of Triangle{% endblock %}

{% block content %}
    <h1>Area of Triangle</h1>

    <form action="/works/area/triangle" method="post">
        <label for="base">Enter the base:</label>
        <input type="text" id="base" name="base">

        <label for="height">Enter the height:</label>
        <input type="text" id="height" name="height">

        <input type="submit" value="Compute">
    </form>

    {% if result %}
        <p>Area of the triangle: {{ result }}</p>
    {% endif %}

{% endblock %}